{% extends 'blog/base.html' %}

{% block page_header %}
    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-3">Опубликуйте свои статьи!</h1>

            <p class="lead" >Это сайт для публикации статей. Сначала выберите тему статьи, или создайте свою новую.
            Для этого сначала зарегистрируйтесь на сайте. После этого Вам станут доступны формы для воода данных.</p>

            <a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">Регистрация &raquo;</a>
        </div>
    </div>
{% endblock page_header %}